body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -- LoginLeftSection -- */

.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* background-color: yellow; */
}

.login-form {
  width: 70%;
  height: 50%;
  padding: 1rem;
  /* background-color: red; */
}
.google-btn {
  display: flex;
  align-items: center;
  /* background-color: red; */
}
.google-img {
  background: #ffffff;
  border-radius: 5px;
  margin-right: 20px;
}
.google-text {
  font-size: 18px;
}
/* for small device */

@media (max-width: 770px) {
  .login-container {
    justify-content: center;
  }
}
